.homehero {
    width: 100%;
    margin-bottom: -1rem;
    height: 60%;
    background-color: #e9efec;
    position: relative; /* Add this line */
}

.homehero > img {
    width: 100%;
    max-height: 85vh;
    border-radius: 0rem 0rem 0rem 0rem;
    vertical-align: middle;
    z-index: -1;
    object-fit: cover;
}

.overlay {
    position: absolute;
    top: 0; /* Add this line */
    left: 0; /* Add this line */
    width: 100%;
    height: 100%; /* Change this line */
    background-color: hsl(150, 16%, 93%, 0.5);
    color: black;
    z-index: 3;
    font-family: 'Rubik', sans-serif;
    font-weight: 900;
    text-align: left;
}

.overlay-text {
    padding-left: 3rem;
    padding-top: 15rem;
}

.overlay-text>h2{
    font-size: 1.5rem;
    font-weight: 900;
    text-shadow: 2px 1px 0px #3a3a3a;
}
.overlay-text>h1{
    font-size: 2.6rem;
    text-shadow: 3px 3px 0px #3a3a3a;
}
@media(max-width:600px) {
    .overlay-text {
        padding-left: 2rem;
        padding-top: 5rem;
    }

    .overlay-text>h2{
        font-size: 0.90rem;
        text-shadow: 0px 0px 2px #3a3a3a;
    }
    .overlay-text>h1{
        font-size: 1.5rem ;
        margin-top: -0.55rem;
        text-shadow: 0px 0px 2px #3a3a3a;
    }
    
}

/* about-section */
.about-components{
    background-image: url('../assets/group.jpg');
    background-repeat: no-repeat;
}

.about-overlay {
    padding: 7rem 3rem;
    line-height: 2rem;
    display: flex;
    flex-direction: row;
    background-color: hsla(172, 50%, 17%, 0.8);
}

.about-para {
    padding: 1rem 5rem;
    text-align: left;
    font-size: 1.25rem;
}
.home-subhead {
    font-size: 2rem;
    font-weight: 900;
    text-decoration-line: underline;
    text-decoration-style: wavy;
    text-decoration-color: var(--lighttheme);
    color: white;;
}

#read-more {
    background-color: #16423C;
}