

/* about-section */
.about-components{
    background-color: #6a9c89;
    padding: 2rem 1rem;
}
.about-para {
    padding: 1rem 3rem;
}
.home-subhead {
    font-size: 2rem;
    font-weight: 900;
    text-decoration-line: underline;
    text-decoration-style: wavy;
    text-decoration-color: #16423C;;
    color: #16423C;;
}

#read-more {
    background-color: #16423C;
}