/* 
the 4 colors are :-
#16423C
#6A9C89
#C4DAD2
#E9EFEC


The fonts i felt would best suit SEEF and the color theme above are :-
Poppins - Subheadings and Title Text
Rubik - Body and Title Text
Palatino - Typography and Design Text
Roboto - Large bodies of small text
*/


*{
    font-family: 'Poppins';
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
#root {
    background-color: #e9efec;
    width: 100%;
    height: 100%;
}

/* Navbar styles */
.nav-link {
    padding: 0.5rem 1rem;
    color: #16423C;
    font-weight: 900;
}
.nav-link:hover {
    color: white;
}

nav {
    display: flex;
    width: 100vw;
    max-width: 100%;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    top: 0;
    padding: 0 1.5rem;
    box-sizing: border-box;
    background-color: #e9efec;
    color: #16423C;
    font-size: 1.1rem;
    font-weight: 900;
    height: 15vh;
    z-index: 10;
    border-radius: 0rem 0rem 1rem 1rem;
}

.active {
    color: #6A9C89;
}

.logo > img{
    margin-top: 6rem;
    width: 9rem;
}

/* Footer Styles */
footer {
    max-width: 100%;
    width: 100%;
    left: 0;
    bottom: 0;
    padding: 1.5rem;
    background-color: #6A9C89;
}

.footer-link {
    padding: 0.5rem 1rem;
    color: #16423C;
}
.footer-link:hover {
    color: white;
}

.footer-section {
    padding: 1rem;
}

.rights > h4 {
    font-weight: 400;
}

.newsletter-join {
    font-weight: 400;
    color: #16423C;
}

.newsletter-join > a {
    color: #16423C;
}
.newsletter-join > a:hover {
    color: white;
}


/* content styles */
.content {
    min-height: 80vh;
    max-width: 100%;
}