.nav-link {
    padding: 0.5rem 1rem;
}

nav {
    display: flex;
    width: 100vw;
    max-width: 100%;
    flex-direction: row;
    justify-content: space-between;
    position: sticky;
    top: 0;
    padding: 0 20px;
    box-sizing: border-box;
}

footer {
    max-width: 100%;
}